<div
  class="row broad p-2 pt-1 pb-1"
  style="
    border-bottom: 1px solid #e5e5e5;
    background: aliceblue;
    overflow: hidden;
    margin-left: 4.5%;
  "
>
  <div class="col-md-11 d-flex wrapper">
    <p class="target" style="width: 0em; background-color: red">
      {{
        messageToDisplay &&
        messageToDisplay.queue &&
        messageToDisplay.queue === "NA"
          ? messageToDisplay.message
          : ""
      }}

      {{
        messageToDisplay &&
        messageToDisplay.agent &&
        messageToDisplay.agent === "NA"
          ? messageToDisplay.message
          : ""
      }}
    </p>
  </div>
  <div
    class="col-md-1 d-flex align-items-center"
    style="padding-left: 0"
    *ngIf="indexOfMessage + 1 !== 0 && message.length !== 0"
  >
    <mat-icon
      matTooltip="Previous Message"
      style="cursor: pointer"
      (click)="previousMessage()"
      >fast_rewind</mat-icon
    ><span>&nbsp;{{ indexOfMessage + 1 }}</span> &nbsp;&nbsp;of&nbsp;&nbsp;
    <span>{{ message.length }}&nbsp;</span>
    <mat-icon
      matTooltip="Next Message"
      style="cursor: pointer"
      (click)="nextMessage()"
      >fast_forward</mat-icon
    >
  </div>
</div>
