.interactionPanel{
    height: calc(61vh - 150px);
   // background-color: yellow;
    top: 10px;
    position: relative;
    left: 10px;
    box-shadow: #00000014 0 1px 5px;
}

.interaction{
    width: 98%;
    position: relative;
    left: 4px;
    background: #f7f7f7;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 3px; 
    padding: 10px;
}

.interactionPanelHeader{
    background-color: white;
        height: 40px;
        padding: 8px;
        box-shadow: rgba(0, 0, 0, 0.0784313725) 0 1px 5px;
        position: relative;
        width: 98%;
        margin-left: 4px;
}

.callLabel{
    font-size: 12px;
}

.incomingCall{
   display: contents;
}

.incoming-content{
    // padding: 1.5em 1em 1.5em 1em;
    // background: #f7f7f7;
    // display: flex;
    // justify-content: space-between;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // margin-bottom: 3px;
    padding: 1.5em 1em 1.5em 1em;
    /* background: #f7f7f7; */
    display: flex;
    justify-content: space-between;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    /* margin-bottom: 3px; */
    border: 1px solid #ebebeb;
    border-radius: 6px;
}

.interaction-content{
    height: calc(100% - 10%);
    background-color: #f7f8fa;
    overflow-x: hidden;
    margin-bottom: 2em;
}
.NoContact {
    // border: none;
    // box-shadow: none;
    // height: 45%;
    position: relative;
    top: 90px;
}
.incomingCallFont{
    color: #003873;
    font-size: 11px;
    font-weight: 600;
}

.incomingNumber{
    color: black;
    font-size: 12px;
    align-items: center;
}

.showtime{
    font-size: 12px;
}
.timer{
    color: gray;
    font-size: 12px;
}

.incomingcallpanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    line-height: 10px;
}

.incomingCallIcons{
    display: flex;
    justify-content: space-around
}
.endButtonIcon{
    transform: rotate(135deg);
}
.timerpanel{
    display: flex;
    justify-content: end;
    align-items: center;
}

.Phone {
    position: relative;
    display: block;
    /* margin: 0; */
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: #29af0e;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0 0 rgba(#77e077, 0), 0 .05em .1em rgba(#252222, .2);
    transform: translate(0) scale(1);
    margin-right: 0;
}

.Phone::before,
.Phone::after {
    position: absolute;
    content: "";
}

.Phone::before {
    top: 0;
    left: 0;
    width: 0.3em;
    height: 0.3em;
    background-color: rgba(#fff, 0.1);
    border-radius: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
    top: 0.22em;
    left: 0.23em;
    width: 0.6em;
    height: 0.6em;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
    animation: phone-outer 3000ms infinite;
}

.Phone.is-animating::before {
    animation: phone-inner 3000ms infinite;
}

.Phone.is-animating::after {
    animation: phone-icon 3000ms infinite;
}

@keyframes phone-outer {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow:
            0 0 0 0em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
    }
    33.3333% {
        transform: translate3d(0, 0, 0) scale(1.1);
        box-shadow:
            0 0 0 0em rgba(#3498db, 0.1),
            0em 0.05em 0.1em rgba(#000000, 0.5);
    }
    66.6666% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow:
            0 0 0 0.5em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow:
            0 0 0 0em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
    }
}

@keyframes phone-inner {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0);
    }
    33.3333% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0.9);
    }
    66.6666% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
}

@keyframes phone-icon {
    0% {
        transform: translate3d(0em, 0, 0);
    }
    2% {
        transform: translate3d(0.01em, 0, 0);
    }
    4% {
        transform: translate3d(-0.01em, 0, 0);
    }
    6% {
        transform: translate3d(0.01em, 0, 0);
    }
    8% {
        transform: translate3d(-0.01em, 0, 0);
    }
    10% {
        transform: translate3d(0.01em, 0, 0);
    }
    12% {
        transform: translate3d(-0.01em, 0, 0);
    }
    14% {
        transform: translate3d(0.01em, 0, 0);
    }
    16% {
        transform: translate3d(-0.01em, 0, 0);
    }
    18% {
        transform: translate3d(0.01em, 0, 0);
    }
    20% {
        transform: translate3d(-0.01em, 0, 0);
    }
    22% {
        transform: translate3d(0.01em, 0, 0);
    }
    24% {
        transform: translate3d(-0.01em, 0, 0);
    }
    26% {
        transform: translate3d(0.01em, 0, 0);
    }
    28% {
        transform: translate3d(-0.01em, 0, 0);
    }
    30% {
        transform: translate3d(0.01em, 0, 0);
    }
    32% {
        transform: translate3d(-0.01em, 0, 0);
    }
    34% {
        transform: translate3d(0.01em, 0, 0);
    }
    36% {
        transform: translate3d(-0.01em, 0, 0);
    }
    38% {
        transform: translate3d(0.01em, 0, 0);
    }
    40% {
        transform: translate3d(-0.01em, 0, 0);
    }
    42% {
        transform: translate3d(0.01em, 0, 0);
    }
    44% {
        transform: translate3d(-0.01em, 0, 0);
    }
    46% {
        transform: translate3d(0em, 0, 0);
    }
}

.missed-contact {
    color: #000;
    border-radius: 7px;
    border-color: #c5c5c5;
    border-style: solid;
    width: 52px;
    height: 32px;
    outline: none;
    font-size: clamp(12px, 12px, 13px);
    margin-top: 3px;
}

.onlineBadge {
    /* font-size: 14px; */
    color: #18D618
}

.offlineBadge {
    /* font-size: 14px; */
    color: #F35162
}

.userName {
    text-align: center;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.anyTapWorkarea {
    text-align: left;
    margin-bottom: -14px;
}

.listSpacing {
    padding: 8px 1px 10px 4px !important;
    cursor: pointer;
    display: flex;
}

.tile {
    background: #fbfbfb;
        border-radius: 5px;
        padding: 0.5em;
        color: #003873;
        box-shadow: rgba(0, 0, 0, 0.0784313725) 0px -5px 4px;
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: center;
        font-size: 12px;
        cursor: pointer;
        align-items: center;
        position: absolute;
        top: calc(80vh - 150px);
        left: -150px;
}











// new code

#snackbar {
    visibility: visible;
    width: 325px;
    margin-right: 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #000;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    right: 2%;
    bottom: 30px;
    font-size: 17px;
    border-radius: 8px;
}

.incomingCallIcons {
    display: flex;
    justify-content: space-evenly;
}

.endButtonIcon {
    transform: rotate(135deg);
}

.timerpanel {
    display: flex;
    justify-content: end;
    align-items: center;
}

.Phone {
    position: relative;
    display: block;
    /* margin: 0; */
    width: 45px;
    height: 45px;
    font-size: 30px;
    background-color: #29af0e;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0 0 rgba(#77e077, 0), 0 .05em .1em rgba(#252222, .2);
    transform: translate(0) scale(1);
    margin-right: 0;
}

.Phone::before,
.Phone::after {
    position: absolute;
    content: "";
}

.Phone::before {
    top: 0;
    visibility: hidden;
    left: 0;
    width: 3em;
    height: 3em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
    top: 0.32em;
    left: 0.32em;
    width: 0.8em;
    height: 0.8em;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
    animation: phone-outer 3000ms infinite;
}

.Phone.is-animating::before {
    animation: phone-inner 3000ms infinite;
}

.Phone.is-animating::after {
    animation: phone-icon 3000ms infinite;
}

@keyframes phone-outer {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow:
            0 0 0 0em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
    }

    33.3333% {
        transform: translate3d(0, 0, 0) scale(1.1);
        box-shadow:
            0 0 0 0em rgba(#3498db, 0.1),
            0em 0.05em 0.1em rgba(#000000, 0.5);
    }

    66.6666% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow:
            0 0 0 0.5em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow:
            0 0 0 0em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
    }
}

@keyframes phone-inner {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0);
    }

    33.3333% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0.9);
    }

    66.6666% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
}

@keyframes phone-icon {
    0% {
        transform: translate3d(0em, 0, 0);
    }

    2% {
        transform: translate3d(0.01em, 0, 0);
    }

    4% {
        transform: translate3d(-0.01em, 0, 0);
    }

    6% {
        transform: translate3d(0.01em, 0, 0);
    }

    8% {
        transform: translate3d(-0.01em, 0, 0);
    }

    10% {
        transform: translate3d(0.01em, 0, 0);
    }

    12% {
        transform: translate3d(-0.01em, 0, 0);
    }

    14% {
        transform: translate3d(0.01em, 0, 0);
    }

    16% {
        transform: translate3d(-0.01em, 0, 0);
    }

    18% {
        transform: translate3d(0.01em, 0, 0);
    }

    20% {
        transform: translate3d(-0.01em, 0, 0);
    }

    22% {
        transform: translate3d(0.01em, 0, 0);
    }

    24% {
        transform: translate3d(-0.01em, 0, 0);
    }

    26% {
        transform: translate3d(0.01em, 0, 0);
    }

    28% {
        transform: translate3d(-0.01em, 0, 0);
    }

    30% {
        transform: translate3d(0.01em, 0, 0);
    }

    32% {
        transform: translate3d(-0.01em, 0, 0);
    }

    34% {
        transform: translate3d(0.01em, 0, 0);
    }

    36% {
        transform: translate3d(-0.01em, 0, 0);
    }

    38% {
        transform: translate3d(0.01em, 0, 0);
    }

    40% {
        transform: translate3d(-0.01em, 0, 0);
    }

    42% {
        transform: translate3d(0.01em, 0, 0);
    }

    44% {
        transform: translate3d(-0.01em, 0, 0);
    }

    46% {
        transform: translate3d(0em, 0, 0);
    }
}

.missed-contact {
    color: #000;
    border-radius: 7px;
    border-color: #c5c5c5;
    border-style: solid;
    width: 52px;
    height: 32px;
    outline: none;
    font-size: clamp(12px, 12px, 13px);
    margin-top: 3px;
}

.onlineBadge {
    /* font-size: 14px; */
    color: #18D618
}

.offlineBadge {
    /* font-size: 14px; */
    color: #F35162
}

.userName {
    text-align: center;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.anyTapWorkarea {
    text-align: left;
    margin-bottom: -14px;
}

.listSpacing {
    padding: 8px 1px 10px 4px !important;
    cursor: pointer;
    display: flex;
}



