<div>
  <div class="header">
    <span>Warning!</span>
  </div>
  <div class="col-12 d-flex" style="padding: 20px 22px">
    <div>
      <label for="">Are you sure want to Logout ? </label>
    </div>
  </div>
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
      <div class="d-flex justify-content-between" style="padding: 8px 20px">
        <div>
          <button
            class="btn btn-outline-primary custom-btn"
            (click)="onClose()"
            style="font-size: 12px"
          >
            Cancel
          </button>
        </div>
        <div>
          <button
            class="btn btn-outline-primary custom-btn"
            (click)="logout()"
            style="font-size: 12px; width: 60px"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
