@font-face {
    font-family: 'Servdeskfont';
    /*a name to be used later*/
    src: url('/assets/fonts/Montserrat-Bold.ttf');
    src: url('/assets/fonts/Montserrat-Regular.ttf');
    /*URL to font*/
}


::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    background: white !important;
    color: black !important;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__container {
    transition-duration: var(--mat-dialog-transition-duration, 0ms);
    width: 68vw
}

// table {
//     border-collapse: collapse;
//     width: 100%;
// }


// td {
//     font-family: 'Servdeskfont';
//     text-align: left;
//     padding: 8px;
//     font-size: 12px;
//     font-weight: 500;
//     color: black !important;
// }

// th {
//     font-family: 'Servdeskfont';
//     text-align: left;
//     padding: 8px;
//     font-size: 12px;
//     font-weight: 500;
//     color: white !important;
// }

// tr:nth-child(even) {
//     background-color: #cbc7c7;
// }


.tableHeader {
    margin-left: 10px;
    width: 97%;
}

.header {
    background-color: #455278;
    // color: white;
}

.popupBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-btn {
    border-color: #003783;
    color: #003783;

}

.custom-btn:hover {
    background-color: #003783;

    color: #ffffff;

    border-color: #003783;

}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th,
td {
    font-size: clamp(10px, 13px, 15px);
    border: 1px solid #ccc;
    padding: 8px;
    font-family: 'Servdeskfont';
    text-align: left;
    padding: 8px;
    width: 10%;
    font-weight: 500;
    color: black;
    font-family: 'Servdeskfont';
}

th {
    background-color: #455278;
    position: sticky;
    top: 0;
    z-index: 1;
    color: white !important;
}

.scrollable-body {
    // max-height: 300px;
    overflow-y: auto;
}