.btnlabel{
    font-size: 12px;
}

.saveCompleteBtn{
    align-items: center;
    justify-content: center;
    display: flex;
}

#select-option {
  
    -webkit-appearance: menulist;
    cursor: pointer;
    
}

.form-control {
    font-size: 12px;
}

.Always {
    display: none;
}

.show {
    display: block ;
}

.showEapp{
    display: block !important;
}

.showcsc{
    display: none !important;
}

.showHR {
    display: none;
}
.showEA{
    display: block !important;
}

.hidden{
    display: none !important;
}
.caseIdLabel{
    font-size: 13px;
    color: #455278;
}

 .custom-btn {
     border-color: #003783;
     color: #003783;

 }

 .custom-btn:hover {
     background-color: #003783;

     color: #ffffff;

     border-color: #003783;

 }