.app-int{
    width: 22% !important;
}

.app-call{
    width: 78% !important;
}

.mainContent {
    padding-left: 0 !important; 
    height: calc(100vh - 62px) !important;
}

.rightSide {
flex: 0 0 auto;
    width: 100%;
   // padding-left: 5em;
}

.leftSide{
    width: 5.333333% !important;
    background-color: white;
    box-shadow: #00000014 3px 10px 6px 2px;
    padding: 28px;
   // height: calc(100vh - 60px);
}

.sidebarBottom{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
top: 55%;
    height: 35%;
}

::ng-deep .mdc-list-item__primary-text {
    color: black;
}

.custom-menu {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
    
}

::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
      
    border-radius: 10px;
    background-color: #f8f9fa;
}

.custom-menu-item{
        width: 285px;
    font-size: 12px;
    color: #003873;
    
}
::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.custom-menu-item:hover {
    background-color: #eceae1;
    /* Change to your desired hover color */
    color: #ffffff;
    
    /* Change to your desired text color on hover */
}